form {
  margin: auto;
}

input {
  margin: 5px;
  width: 15%;
  border: 2px solid teal;
  border-radius: 5px;
}

button {
  margin: 5px;
  width: 15%;
  border: 2px solid teal;
  background-color: teal;
  color: white;
  border-radius: 5px;
}
